<section class="slice-lg masthead" style="background: #fff !important; padding: 0 !important;">
  <!-- Name of the Sector -->
  <div class="menu-heading">
    <a class="back-to-menus" href="index.html">
      <%= image_pack_tag "icon_arrow_left_black.png" %>
    </a>
    Glossary of <%= @sector.name %>
  </div>
</section>
