.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background-image: url("../images/bg-pattern.png"), linear-gradient(to left, #E26125, #154577);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: center center;
}
.bg-Cameroun {
  background-image: url("../images/bg_Cameroun.png") !important;
}
.bg-France {
  background-image: url("../images/bg_France.png") !important;
}
.bg-Nigeria {
  background-image: url("../images/bg_Nigeria.png") !important;
}
