@import "custom";
@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free';
@import "_defaultbackground";
@import "~hamburgers/_sass/hamburgers/hamburgers";

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.border-2 {
    border-width:2px !important;
}