<div id="company-section">
  <%= render partial: 'flag_and_search_bar', locals: { country: @country,
                                                       countries: @countries,
                                                       sectors: @sectors} %>
</div>
