// Place all the styles related to the sectors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu-heading {
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #5F6264;
  position: relative;
}
.back-to-menus {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 37px;
  cursor: pointer;
  text-align: center;
}
.details-search {
  margin: 0;
  padding: 10px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-search .search-input {
  width: calc(100% - 60px);
  margin: 5px 7px 0 0;
}
.details-search .search-icon {
  left: 18px;
  position: absolute;
  width: 20px;
  top: 19px;
}
.details-search .cursor-icon {
  left: 47px;
  top: 15px;
  position: absolute;
  height: 30px;
  width: 4px;
}
.details-search .search-input input {
  border: 12px solid rgba(226, 97, 37, 0.35) !important;
  height: 60px !important;
  line-height: 60px !important;
  background: rgba(255,255,255,0.7) !important;
  padding: 0 35px 0 46px !important;
  border-radius: 10px !important;
  width: 100% !important;
  font-size: 18px !important;
}
.details-search .dictation-icon {
  right: 11px;
  top: 8px;
  position: absolute;
  padding: 10px;
}
.details-search button {
  width: 50px;
  height: 60px;
  line-height: 45px;
  background: #F9F9F9;
  border: 5px solid rgba(226, 97, 37, 0.27);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px #626265;
  letter-spacing: -0.0241176em;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border-radius: 10px;
}
.button-filter {
  padding: 0px 10px 10px;
}
.button-filter button {
  background: #F9F9F9;
  box-shadow: 0px 1px 1px #626265;
  border-radius: 10px;
  border: none;
  height: 48px;
  line-height: 46px;
  text-align: center;
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: block;
  width: 100%;
}
.button-filter button img {
  border-radius: 10px;
  margin: 0 0 0 10px;
}
.menu-inner-details ul {
  padding: 10px 10px 0;
  overflow-y: auto;
  height: calc(100vh - 184px);
}
.menu-inner-details ul li {
  padding: 15px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #5E6361;
}
.pro-details {
  width: calc(100% - 80px);
}
.pro-name {
  word-break: break-all;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0128571em;
  color: #000000;
}
.pro-name img {
  margin: 0 0 0 5px;
  width: 10px;
}
.common-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.code-pro {
  font-style: italic !important;
}
.common-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}
.timing-pro span {
  color: #FF0000;
}
.pro-img {
  width: 80px;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.cont-details {
  margin: 5px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
